
@import url('navbar.css');
.main-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.text-require{
    color   :#ff0000;
    font-weight: bold;
    font-size: 2em;
}
.card-form-container{
  width: 100%;
  margin-bottom: 1em;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  top: 60%;
  justify-content: space-around;

}

/* 
.message .wraper-message{
  width: 50%;
  position: absolute;
  z-index: 100;
  margin-top: 5px;
  background-color: hsl(109, 74%, 58%);
  border-radius: 4px;
  padding:1rem;
  animation: animatetop ease 1s;
}

.message{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
 
}

.message .wraper-message span{
  font-size: 17px;
  width: 100%;
  color:white;
  
}

.message .wraper-message i{
  font-size: 20px;
  color:black;
  cursor: pointer;
  left: 0;
}

.message i:hover{
  color:black;
}

@keyframes animatetop{
from{
  top:-400px;
  opacity:0
} 
to{
  top:0;
  opacity:1
}
} */
.message .wraper-message{
  width: 50%;
  z-index: 10;
  top :50%;
  position: absolute;
  background-color: hsl(109, 74%, 58%);
  border-radius: 4px;
  padding:1rem;
  animation: animatetop ease 1s;
}

.message{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
 
}

.message .wraper-message span{
  font-size: 17px;
  width: 100%;
  color:white;
  
}

.message .wraper-message i{
  font-size: 20px;
  color:black;
  cursor: pointer;
  left: 0;
}

.message i:hover{
  color:black;
}

@keyframes animatetop{
from{
  top:-400px;
  opacity:0
} 
to{
  top:0;
  opacity:1
}
}


.count-pengaduan{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item-pengaduan{
  background-image: url(../img/home-cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 2em;
  text-align: center;
}

.item-pengaduan h3{
  font-size: 3em;
  color: #fff;
}
.item-pengaduan p{
  color: #fff;
  padding: .5em;
  font-weight: bold;
  font-size: 7em;
}

.message .wraper-message i{
  font-size: 20px;
  color:black;
  cursor: pointer;
  left: 0;
}

.message i:hover{
  color:black;
}

@keyframes animatetop{
from{
  top:-400px;
  opacity:0
} 
to{
  top:0;
  opacity:1
}
}
.masyarakat{
  font-weight: 500;
  font-style: italic;
}
.swiper-container {
  width: 100%;
  margin-top: 15em;
  background-image: url(../img/home-cover.jpg);
  background-position: center;
  background-size: cover;
  
  background-repeat: no-repeat;
}

.swiper-container .swiper-slide {
  /* box-shadow: 0px 1px 2px hsl(0, 3%, 87%) , 2px 5px 7px hsl(0, 21%, 92%); */
  background-position: center;
  background: #fff;
  margin-top: 3em;
  padding: 1em;
  margin-bottom: 3em;
  margin-left: 2em;
  background-size: cover;
  width: 50%;
  height: auto;
}

.swiper-slide .img-area{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    display: flex;
    padding: .5em;
} 


.info span{
  font-size: 15px;
  color: red;
  font-weight: bold;
}

.info p{
  text-align: center;
}
.info h3{
  text-align: center;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.685);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}



.card-form {
  width: 50%;
  justify-content: center;
  position: absolute;
  z-index: 1;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1) , 0px 4px 15px #21202055 ;
  padding: 20px;

} 

.status{
  display: block;
  position: sticky;
  left: 80%;
}

.status .btn-tolak{
    padding: .7em;
    border-radius: 3em;
    color: var(--bg-color-1);
    background: #ff0000;
    letter-spacing: 1px;
    font-weight: 600;
    cursor:not-allowed;
}
.status .btn-proses{
  padding: .7em;
  border-radius: 3em;

  border-radius: 5px;
    font-weight: 600;
  color: var(--bg-color-1);
  background: hsl(187, 100%, 50%);
  cursor:progress;
}

.line{
  width: 100%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid hsl(0, 4%, 82%);
}

.status .btn-selesai{

  padding: .7em;
  border-radius: 5px;
  border-radius: 3em;

    font-weight: 600;
  color: var(--bg-color-1);
  background: hwb(111 15% 18%);
  cursor:default;
}

.status .btn-belum{

  padding: .7em;
  border-radius: 5px;
  border-radius: 3em;

    font-weight: 600;
  color: var(--bg-color-1);
  background: rgb(38, 72, 209);
  cursor:help;
}

.btn-belum:hover{
  background: hsl(219, 62%, 57%);
}

.btn-selesai:hover{
  background: hwb(149 21% 21%);
}
.btn-tolak:hover{
  background: hwb(0 9% 50%);
}

.btn-proses:hover{
  background: hwb(219 22% 21%);
}

.btn-showing-tanggapan{
  padding: .8em;
  background: rgba(42, 154, 186, 0.908);
  color: white;
}

.btn-showing-tanggapan:hover{
  background: #359ba0;
  transition: all ease 3s;
}

.btn-back{
  padding: .8em;
  background: red;
  color: wheat;
  font-size: 1.3em;
  font-weight: 600;
}

.btn-back:hover{
  background: #ff0000;

}

.inside{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  align-content: center;
}
.inside .inside-content{
  padding: 3em;
  margin-top: 7em;
  background: hwb(0 96% 4%);
  width: 100%;
  box-shadow: 0px 2px 4px hsl(0, 0%, 57%) , 1px 3px 5px rgb(242, 240, 240);
  
}

.inside-content .img-show{
  padding: 2em;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-about{
  position: relative;
}
.text-about p{
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 2em;
}





























.text-about h3{
  font-size: 2.6em;
}

.about-img{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.about-img a img{
  width: 100%;
  border: 1px solid #000;
  margin: 7em 0 7em 0;
  border-style: groove;
}

.text-center{
  text-align: center;
}

.main-video{
  position: absolute;
  width: 100%;
  display: flex;
  /* --webkit-background-size: cover;
background-position: center;
background-repeat: no-repeat; */
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;

}
.main-video iframe{
  max-width: 50%;
  /* height: 100vh; */

}
.text-about{
  margin-top: 20%;
  z-index: 100;
}

.img-show img{
  width: 50%;
}

.edit-pengaduan{
  float:right;
  left: 94%;
  position: fixed;
  z-index: 111;
  max-width: 100%;
  padding: 1em;
}
.edit-pengaduan img{
  height: 70px;
  width: 70px;
  background-color: transparent;
  animation: animasi ease all 2s;
}

@keyframes animasi {
  50%{
    left: 50%;
    top: 40%;
  }
  100%{
    left: 40%;
    top: 30%;
  }
}

.pengaduan-isi{
  position:relative;
  display:flex;
  flex-wrap:nowrap;
  flex-direction: row;
  width: 100%;
  padding: 1em;
}
.pengaduan-isi textarea{
  overflow: none;
  width: 50%;
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid #F7E98D;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    -font-smoothing:subpixel-antialiased;
    background:linear-gradient(#F9EFAF, #F7E98D);
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
  cursor: pointer;
  resize: none;
}

.pengaduan-isi img{
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: .3em;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Modified*/
  /*overflow:hidden;*/
}

.tgl-pengaduan{
  display: block;  
  position: absolute;
  margin-top: 10.5em;
}

.tgl-pengaduan p{
  color: red;
  align-items: center;
  text-align: center;
}



.laporan-isi{
  position: relative;
  justify-content: end;
  align-items: end;
  display: flex;
  padding: 1em;
  cursor: pointer;
}

.laporan-isi textarea{
  overflow: none;
  width: 50%;
    
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid hsl(97, 83%, 62%);
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    -font-smoothing:subpixel-antialiased;
    background:linear-gradient(hsl(118, 73%, 59%), hsl(146, 78%, 59%));
    background:-o-linear-gradient(hsl(118, 73%, 59%), hsl(146, 78%, 59%));
    background:-ms-linear-gradient(hsl(118, 73%, 59%), hsl(146, 78%, 59%));
    background:-moz-linear-gradient(hsl(118, 73%, 59%), hsl(146, 78%, 59%));
    background:-webkit-linear-gradient(hsl(118, 73%, 59%), hsl(146, 78%, 59%));
  cursor: pointer;
  resize: none;
}

.laporan-isi img{
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: .3em;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Modified*/
  /*overflow:hidden;*/
}

.pengaduan-isi input[type="text"]:focus{
  border: 1px solid hsl(192, 4%, 77%);
}



.card-form h2 {
  text-align: center;
  margin-top: 3em;
}
.info{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 2em;
  color: black;
  cursor: context-menu;
}

.error{
  font-size:1.3em;
  color:red;
}
input[type="date"].error,input[type="number"].error,input[type="text"].error,input[type="file"].error,textarea.error{
  border:1px solid red;
}

.card-form label {
  display: block;
  margin-bottom: 10px;
}

.card-form input[type="date"],input[type="number"],input[type="text"],input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.card-form .btn-primary {
  background-color: hsl(229, 53%, 53%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right;
  margin-left: .5em;
}
.card-form .btn-reset{
  background-color: hwb(0 14% 5%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right;
}
.text-left-head{
  text-align: left;
  color: var(--bg-color-1);
  background: red;
  padding: 1em;
  font-weight: bold;
}

textarea{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1.3em;
  line-height: inherit;
}
/* hr{
  border: 1px solid hsl(0, 1%, 86%);
  margin-bottom: 4em;
} */
input[type="date"]:focus , input[type="number"]:focus,input[type="text"]:focus,input[type="file"]:focus
textarea:focus{
  border: 1px solid blue;
}

.card-form .btn-primary:hover {
  background-color: hsl(209, 55%, 53%);
}
.card-form .btn-reset:hover {
  background-color: rgb(163, 36, 36);
}

  
.space{
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.heading{
  text-align: center;
  justify-content: center;
  width: 100%;
  color: white; 
  font-size: 3em;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 4px;
  background-image: url(../img/home-cover.jpg);
}
/*   
  select.form-control:focus::-ms-value {
    color: #6e707e;
    background-color: #fff;
  } */
  
 

  .footer-onkir{
    display: flex;
    position: relative;
    margin-top: 64rem;
    max-width: 100%;
}
.footer-onkir .back-onkir{
    display: inline-block;
    text-align: center;
    padding: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}   
.footer-onkir .back-onkir img{
    max-width: 4em;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;

}
.progres{
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 77%;
    border: 1px solid rgb(235, 230, 230);
    position: absolute;
    margin-left: 15em;
    margin-top:-2em ;
    letter-spacing: 2px;
}

.back-onkir .text-footer{
    text-align: center;
}
.back-onkir .text-footer h3{
  font-size: 1.4em;
  font-weight: bold;
}
.back-onkir .text-footer p{
  font-size: 1.2em;
  font-weight: 500;
  max-width: 20em;
}

section{
  /* background-image: url(../img/section-img.jpg); */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width:991px){

  .swiper-container {

    display: inline-block;
    width: 100%;
  }

  .swiper-wrapper{
    width: 100%;
    display: block;
  }


  .swiper-container .info .img-area img{
    max-width: 100%;
  }
  section{
    background-position: center;
  }
  .helder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .helder .helder-content{
    display: block;
  }

}

@media screen and (max-width: 768px){

  .count-pengaduan .item-pengaduan h3{
    font-size: 2.5em;
  }
    .helder{
      display: block;

    }
    .swiper-wrapper{
      width: fit-content;
      display: block;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
    .swiper-container .swiper-slide{
      width: fit-content;
      
      display: block;
      align-items: center;
      justify-content: space-around;
      left: auto;
    }

    .helder .helder-content{
      margin-top: 4em;
    }
  

  .heading{
    margin-top: 0!important;
    font-size: medium;
  }
  .main-content{
    height: auto;
  }
  .card-form-container{
    width: 100%;
    margin: 0;
  }
  .card-form{
    width: 95%;
  }

  .progres{
    margin-left: 2em;
    position: absolute;
    width: 100%;
  }

  .footer-onkir{
    margin-top: 64em;

  }
  .footer-onkir .back-onkir img{
    max-width: 3.4em;
    margin: 0;
  }
  .back-onkir .text-footer p{
    display: none;
  }
}

@media screen and (max-width:450px) {




  .card-form-container{
    width: 100%;
  }
  .main-content{
    height: auto;
  }

  .progres{
    margin-left: 2em;
    position: absolute;
    width: 100%;
  }


  .footer-onkir{
    margin-top: 78em;
    position: relative;
    
  }
  .footer-onkir .back-onkir img{
    max-width: 2em;
    margin: 0;
  }
  .back-onkir .text-footer h3{
    font-size: 1em;
  }
  .back-onkir .text-footer p{
    display: none;
  }

}
